
  @import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.paper{

    padding: 100px 100px;
}
body{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 1000px;
    background-image: url("bg.jpeg");
    background-position: center center;


}
.paper{
    background-image: url(ruled.jpg);
    background-size: 500px;
    background-position: center center;
    padding: 50px 100px;
    transform: rotateZ(-5deg);
    box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
    position: absolute;
}
p{
     font-family: 'Zeyada';
    font-size : 50px
    
}